<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.github.leeonky.jfactory.repo.entity.Product" alias="Product"/>
        <typeAlias type="com.github.leeonky.jfactory.repo.entity.Order" alias="Order"/>
        <typeAlias type="com.github.leeonky.jfactory.repo.entity.OrderLine" alias="OrderLine"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:mem:test"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="entities/Product.xml"/>
        <mapper resource="entities/Order.xml"/>
        <mapper resource="entities/OrderLine.xml"/>
    </mappers>
</configuration>